
@{
    ViewData["Title"] = "Success";
}

<h1 style="color:purple">Profile Pic Submission Success!!!!</h1>

<br /><br />
<br /><br />

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

